.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.contactIcon {
  margin-right: 16px;
  margin-left: 0;
  width: 32px;
}

.overlayContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102%;
  height: 80%;
  top: 0;
  align-self: center;
  justify-self: center;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}

.formContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.emailInput {
  width: 100%;
  margin-top: 12px;
  background: none;
  border: none;
  color: white;
  font-family: Urbanist;
  font-size: 18px;
  outline: none;
}

.separator {
  margin-top: 0px;
  height: 1px;
  background: linear-gradient(
      225deg,
      rgba(255, 92, 0, 0.44) 26.04%,
      rgba(143, 0, 255, 0.32) 100%
    ),
    #ffffff;
}

.textInput {
  margin-top: 16px;
  background: none;
  border: none;
  height: 200px;
  color: white;
  font-family: Urbanist;
  font-size: 18px;
  font-weight: 300;
  resize: none;
  outline: none;
  width: 99%;
}

.submitButton {
  border: none;
  border-radius: 30px;
  color: white;
  width: 100px;
  height: 50px;
  font-family: Urbanist;
  font-weight: bold;
  font-size: 18px;
  background: linear-gradient(
      225deg,
      rgba(255, 92, 0, 0.44) 26.04%,
      rgba(143, 0, 255, 0.32) 100%
    ),
    #ffffff;
}

.fadeOut {
  animation: fadeOut 1.5s 1s forwards;
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
