.modalContainer {
  position: "absolute";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #606060;
  border-radius: 30px;
  width: 60%;
  height: 50%;
  color: #ddadf7;
  font-family: Urbanist;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.25);
  min-height: 150px;
  max-width: 300px;
  min-width: 200px;
  max-height: 100px;
  padding: 16px;
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

.fadeOut {
  animation: fadeOut 1.5s 1s forwards;
}

.statusContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 5%;
}

.statusIcon {
  height: 70%;
}

.loadingStatus {
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
