.navContainer {
  position: fixed;
  width: 100%;
  user-select: none;
  z-index: 9999;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Urbanist;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 0;
}

.headerContainer > h1 {
  margin: 0;
}

.navOptionsContainer {
  text-align: right;
  position: absolute;
  right: 0;
  margin-right: 16px;
  height: 100px;
  overflow: auto;
  opacity: 1;
  transition: height 0.5s ease, opacity 0.5s ease-in-out;
}

.navOptionsContainer-hidden {
  text-align: right;
  position: absolute;
  right: 0;
  margin-right: 16px;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease-in-out;
}

.navOptionContainer {
  padding: 0;
  margin-top: 4px;
}

.navOption {
  text-decoration: none;
  font-size: 16px;
  font-family: Urbanist;
  font-weight: 500;
  color: white;
  transition: color 0.2s;
}

.navOption:hover {
  color: #ddadf7;
  transition: color 0.2s;
}
