.projectsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.projectContainer {
  position: relative;
  margin: 5%;
  max-width: 200px;
  flex: 1 1 200px;
}

.projectFrameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background: linear-gradient(
      225deg,
      rgba(255, 92, 0, 0.44) 26.04%,
      rgba(143, 0, 255, 0.32) 100%
    ),
    #ffffff;
}

.projectFrame {
  position: absolute;
  border: none;
  width: 540px;
  height: 540px;
  pointer-events: none;
  transform: scale(0.35);
}

.projectText {
  text-align: left;
  margin-top: 8px;
}

.projectText > a {
  color: white;
  text-decoration: none;
  font-family: Urbanist;
  font-size: 16px;
  font-weight: 500;
}

.projectDescription {
  text-align: left;
  margin-top: 8px;
  color: white;
  font-weight: 300;
  font-size: 14px;
}
