.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 30px 10%;
  letter-spacing: 0.5px;
}

.sectionContainer h2 {
  font-family: Urbanist;
  font-size: 32px;
  color: #ddadf7;
}

.sectionContainer p {
  font-family: Urbanist;
  font-size: 20px;
  font-weight: 300;
  color: white;
}

.sectionContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3vh;
  width: 100%;
  max-width: 800px;
  height: 100%;
}
