.sectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  min-height: 100vh;
  padding: 30px 10%;
}

.sectionContainer h2 {
  font-family: Urbanist;
  color: #ddadf7;
}

.sectionContainer p {
  font-family: Urbanist;
  font-weight: 300;
  color: white;
}

.sectionContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3vh;
  width: 100%;
  max-width: 900px;
  height: 100%;
}
