.sectionContainer {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  height: "100vh";
  padding: "30px 10%";
}

.sectionHeader {
  font-family: "Urbanist";
  color: "#DDADF7";
}

.text {
  font-family: "Urbanist";
  font-weight: "300";
  color: "white";
}
